{% extends "../base.html" %}
{% load static %}

{% block title %}Fixxit - Login{% endblock %}
{% block content %}
    <div class="container active">
        <div class="forms">
            <div class="form login">
                <span class="title">{{ language.sections.login.login_title }}</span>
                
                {% include "../form.html" with name="login" %}

                <div class="login-register">
                    <span class="text">{{ language.sections.login.not_a_member }}
                        <a href="/register" class="text login-link">{{ language.sections.login.register_now }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="languages">
        <a href="?lang=en-US" class="us">
            <img src="{% static 'images/us-flag.png' %}" id="american">
            {% if language.lang == "en-US" %}
                <span class="tooltip" id="eng">{{ language.head.native_name }}</span>
            {% else %}
                <span class="tooltip" id="eng">English</span>
            {% endif %}
        </a>
        <a href="?lang=hr" class="cr">
            <img src="{% static 'images/croatian-flag.png' %}" id="croatian">
            {% if language.lang == "hr" %}
                <span class="tooltip" id="cro">{{ language.head.native_name }}</span>
            {% else %}
                <span class="tooltip" id="cro">Croatian</span>
            {% endif %}
        </a>
    </div>
{% endblock %}