{% extends "../base.html" %}
{% load static %}

{% block title %}Fixxit - Login{% endblock %}
{% block content %}
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">{{ language.sections.login.login_title }}</span>
                
                {% include "../form.html" with form=form assets=assets name="login" button=language.sections.login.login_title %}

                <div class="login-register">
                    <span class="text">{{ language.sections.login.not_a_member }}
                        <a href="/register" class="text login-link">{{ language.sections.login.register_now }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}