<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login/styles.css' %}"/>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <title>Log in</title>
</head>

<body>
    <div class="background">
        <img src="{% static 'pics/amogus.png' %}">
    </div>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">{{ language.login.login_title }}</span>

                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ login_form.username }}
                        <i class="ri-user-line"></i>
                    </div>
                    <div class="input-field">
                        {{ login_form.password }}
                        <i class="ri-mail-line"></i>
                        <i class="ri-eye-off-line showHidePw" id="password_toggle_login"></i>
                    </div>

                    <div class="checkbox-text">
                        <a href="#" class="text">{{ language.login.forgot_password }}</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="{{ language.login.login_title }}">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">{{ language.login.not_a_member }}
                        <a href="#" class="text signup-link">{{ language.login.sign_up_now }}</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">{{ language.register.register_title }}</span>

                <form action="/register/">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ register_form.name }}
                        <i class="ri-user-line"></i>
                    </div>
                    <div class="input-field">
                        {{ register_form.username }}
                        <i class="ri-account-circle-line"></i>
                    </div>
                    <div class="input-field">
                        {{ register_form.email }}
                        <i class="ri-mail-line"></i>
                    </div>
                    <div class="input-field">
                        {{ register_form.password }}
                        <i class="ri-lock-line"></i>
                        <i class="ri-eye-off-line showHidePw" id="password_toggle_register"></i>
                    </div>
                    <div class="input-field">
                        {{ register_form.confirm }}
                        <i class="ri-lock-line"></i>
                        <i class="ri-eye-off-line showHidePw" id="confirmation_toggle"></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="confirm_terms" required>
                            <label for="confirm_terms" class="text">{{ language.register.terms_and_conditions }}</label>
                        </div>
                    </div>
                    <div class="input-field button">
                        <input type="button" value="Sign up">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">{{ language.register.already_a_member }}
                        <a href="#" class="text login-link">{{ language.register.log_in_now }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="languages">
        <img src="assets\static\pics\us-flag.png" id="american">
        <img src="assets\static\pics\croatian-flag.png" id="croatian">
    </div>
    <script src="{% static 'js/login/script.js' %}"></script>
</body>
</html>