{% extends "../base.html" %}
{% load static %}

{% block title %}FixxIt - Register{% endblock %}
{% block script %}<script src="{% static 'js/login/script.js' %}"></script>{% endblock %}

{% block content %}
    <div class="container active">
        <div class="forms">
            <div class="form register">
                <span class="title">{{ language.sections.register.register_title }}</span>
                
                {% include "../form.html" with form=form assets=assets name="register" button=language.sections.register.register_title %}

                <div class="login-register">
                    <span class="text">{{ language.sections.register.already_a_member }}
                        <a href="/login" class="text login-link">{{ language.sections.register.log_in_now }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</html>