<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login/styles.css' %}"/>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <title>Log in</title>
</head>

<body id="bg" style="background-image: url('{% static 'images/mountains.jpg' %}');">
    <div class="dim"></div>
    <div class="container active">
        <div class="forms">
            <div class="form signup">
                <span class="title">{{ language.sections.register.register_title }}</span>

                <form action="/login/" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ register_form.name }}
                        <i class="ri-user-line"></i>
                    </div>
                    <div class="input-field">
                        {{ register_form.username }}
                        <i class="ri-account-circle-line"></i>
                    </div>
                    <div class="input-field">
                        {{ register_form.email }}
                        <i class="ri-mail-line"></i>
                    </div>
                    <div class="input-field">
                        {{ register_form.password }}
                        <i class="ri-lock-line"></i>
                        <i class="ri-eye-off-line show-hide-pw" id="password_toggle_register"></i>
                    </div>
                    <div class="input-field">
                        {{ register_form.confirm }}
                        <i class="ri-lock-line"></i>
                        <i class="ri-eye-off-line show-hide-pw" id="confirmation_toggle"></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon" required>
                            <label for="termCon" class="text">{{ language.sections.register.terms_and_conditions }}</label>
                        </div>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="Sign up">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">{{ language.sections.register.already_a_member }}
                        <a href="/login" class="text login-link">{{ language.sections.register.log_in_now }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="languages">
        <a href="/login?lang=en-US" class="us">
            <img src="{% static 'images/us-flag.png' %}" id="american">
            {% if language.lang == "en-US" %}
                <span class="tooltip" id="eng">{{ language.head.native_name }}</span>
            {% else %}
                <span class="tooltip" id="eng">English</span>
            {% endif %}
        </a>
        <a href="/login?lang=hr" class="cr">
            <img src="{% static 'images/croatian-flag.png' %}" id="croatian">
            {% if language.lang == "hr" %}
                <span class="tooltip" id="cro">{{ language.head.native_name }}</span>
            {% else %}
                <span class="tooltip" id="cro">Croatian</span>
            {% endif %}
        </a>
    </div>
    <script src="{% static 'js/login/script.js' %}"></script>
</body>
</html>