<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}<link rel="stylesheet" href="{% static 'css/login/styles.css' %}"/>{% endblock %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="icon" href="{% static 'images/wrench.ico' %}" type="image/x-icon"/>
    <title>{% block title %}FixxIt{% endblock %}</title>

</head>

<body id="bg" style="background-image: url('{% static 'images/mountains.jpg' %}');">
    <div class="dim"></div>
    {% block content %}{% endblock %}
    {% block script %}<script src="{% static 'js/login/script.js' %}"></script>{% endblock %}
</body>
</html>