<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% block style %}{% static 'css/login/styles.css' %}{% endblock %}"/>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <link rel="icon" href="{% static 'images/wrench.ico' %}" type="image/x-icon"/>
    <title>{% block title %}FixxIt{% endblock %}</title>

</head>

<body id="bg" style="background-image: url('{% block background %}{% static 'images/mountains.jpg' %}{% endblock %}');">
    <div class="dim"></div>
    {% block content %}{% endblock %}
    <script src="{% block script %}{% static 'js/login/script.js' %}{% endblock %}"></script>
</body>
</html>