{% load static %}
<form action="/{{ name }}/" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="input-field">
        {{ field }}

        {% for key, value in assets.icons.items %}
            {% if key == field.name %}
                {% for icon in value %}{{ icon|safe }}{% endfor %}
            {% endif %}
        {% endfor %}

        {% if field.errors %}
            <div class="error">
                <div class="error-icon">!</div>
                <div class="error-text">{{ field.errors.0 }}</div>
            </div>
        {% elif field.name in assets.non_field_errors and form.non_field_errors %}
            <div class="error">
                <div class="error-icon">!</div>
                <div class="error-text">{{ form.non_field_errors.0 }}</div>
            </div>
        {% endif %}

    </div>
    {% endfor %}

    <div class="checkbox-text">
        <div class="checkbox-content">
            <input type="checkbox" id="termCon" required>
            <label for="termCon" class="text">{{ language.sections.register.terms_and_conditions }}</label>
        </div>
    </div>
    <div class="input-field button">
        <input type="submit" value="Sign up">
    </div>
</form>